".text.html.php:not(.source)":

	"Get a field value from the current post":
		"prefix": "acf-gf"
		"body": """
		<?php $${1:value} = get_field( "${2:field_name}" ); ?>
		"""

	"Get a sub field value from the current post":
		"prefix": "acf-gsf"
		"body": """
		<?php $${1:value} = get_sub_field( "${2:field_name}" ); ?>
		"""

	"Get a field value from another post":
		"prefix": "acf-gf-id"
		"body": """
		<?php $${1:value} = get_field( "${2:field_name}", ${3:id} ); ?>
		"""

	"Use get_field with conditional statements":
		"prefix": "acf-gf-if"
		"body": """
		<?php
		$${1:value} = get_field( "${2:field_name}" );
		if ( $${1:value} ) :
			// if $${1:value} = true
		else :
			// if $${1:value} = false
		endif;
		?>
		"""
